/*
Theme Name: ListingPro WooCommerce

WooCommerce styles override
*/
/**
 * WooCommerce color variables
 */
/**
 * Imports
 */
/**
 * Shop tables
 */
/**
 * Shop tables
 */
table.shop_table_responsive thead {
	display: none;
}

table.shop_table_responsive tbody th {
	display: none;
}

table.shop_table_responsive tr td {
	display: block;
	text-align: right;
	clear: both;
}

table.shop_table_responsive tr td:before {
	content: attr(data-title) ": ";
	float: left;
}

table.shop_table_responsive tr td.product-remove a {
	text-align: left;
}

table.shop_table_responsive tr td.product-remove:before {
	display: none;
}

table.shop_table_responsive tr td.actions:before, table.shop_table_responsive tr td.download-actions:before {
	display: none;
}

table.shop_table_responsive tr td.download-actions .button {
	display: block;
	text-align: center;
}

@media screen and (min-width: 48em) {
	table.shop_table_responsive thead {
		display: table-header-group;
	}
	table.shop_table_responsive tbody th {
		display: table-cell;
	}
	table.shop_table_responsive tr th, table.shop_table_responsive tr td {
		text-align: left;
	}
	table.shop_table_responsive tr td {
		display: table-cell;
	}
	table.shop_table_responsive tr td:before {
		display: none;
	}
}

/**
 * Products
 */
/**
 * Products
 */
ul.products {
	content: "";
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

ul.products li.product {
	list-style: none;
	position: relative;
	margin-bottom: 2em;
}

ul.products li.product .woocommerce-loop-product__title {
	font-size: 1rem;
}

ul.products li.product img {
	display: block;
}

ul.products li.product .button {
	display: block;
}

@media screen and (min-width: 48em) {
	ul.products li.product {
		width: 30.7966666667%;
		float: left;
		margin-right: 3.8%;
	}
	ul.products li.product.first {
		clear: both;
	}
	ul.products li.product.last {
		margin-right: 0;
	}
	.columns-1 ul.products li.product {
		float: none;
		width: 100%;
	}
	.columns-2 ul.products li.product {
		width: 48.1%;
	}
	.columns-3 ul.products li.product {
		width: 30.7966666667%;
	}
	.columns-4 ul.products li.product {
		width: 22.15%;
	}
	.columns-5 ul.products li.product {
		width: 16.96%;
	}
	.columns-6 ul.products li.product {
		width: 13.4933333333%;
	}
}

/**
 * Single product
 */
/**
 * Single Product
 */
.single-product div.product {
	content: "";
	display: table;
	table-layout: fixed;
	position: relative;
}

.single-product div.product .woocommerce-product-gallery {
	position: relative;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
	position: absolute;
	top: 1em;
	right: 1em;
	display: block;
	z-index: 99;
}

.single-product div.product .woocommerce-product-gallery .flex-viewport {
	margin-bottom: 1em;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
	content: "";
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
	list-style: none;
	cursor: pointer;
	float: left;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
	opacity: .5;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
	opacity: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
	opacity: 1;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
	width: 48.1%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
	width: 30.7966666667%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
	width: 22.15%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
	clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
	width: 16.96%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
	margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
	clear: both;
}

.stock:empty:before {
	display: none;
}

.stock.in-stock {
	color: #0f834d;
}

.stock.out-of-stock {
	color: #e2401c;
}

/**
 * Checkout
 */
/**
 * Checkout
 */
@media screen and (min-width: 768px) {
	.col2-set .form-row-first {
		float: left;
		margin-right: 3.8%;
	}
	.col2-set .form-row-last {
		float: right;
		margin-right: 0;
	}
	.col2-set .form-row-first,
	.col2-set .form-row-last {
		width: 48.1%;
	}
}

/**
 * General WooCommerce components
 */
/**
 * Header cart
 */
.site-header-cart {
	position: relative;
	margin: 0;
	padding: 0;
	content: "";
	display: table;
	table-layout: fixed;
}

.site-header-cart .cart-contents {
	text-decoration: none;
}

.site-header-cart .widget_shopping_cart {
	display: none;
}

.site-header-cart .product_list_widget {
	margin: 0;
	padding: 0;
}

/**
 * Star rating
 */
.star-rating {
	overflow: hidden;
	position: relative;
	height: 1.618em;
	line-height: 1.618;
	font-size: 1em;
	width: 5.3em;
	font-family: 'star';
	font-weight: 400;
}

.star-rating:before {
	content: "\53\53\53\53\53";
	opacity: .25;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
}

.star-rating span {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1.5em;
}

.star-rating span:before {
	content: "\53\53\53\53\53";
	top: 0;
	position: absolute;
	left: 0;
	color: royalblue;
}

p.stars a {
	position: relative;
	height: 1em;
	width: 1em;
	text-indent: -999em;
	display: inline-block;
	text-decoration: none;
	margin-right: 1px;
	font-weight: 400;
}

p.stars a:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
	height: 1em;
	line-height: 1;
	font-family: "star";
	content: "\53";
	color: #404040;
	text-indent: 0;
	opacity: .25;
}

p.stars a:hover ~ a:before {
	content: "\53";
	color: #404040;
	opacity: .25;
}

p.stars:hover a:before {
	content: "\53";
	color: royalblue;
	opacity: 1;
}

p.stars.selected a.active:before {
	content: "\53";
	color: royalblue;
	opacity: 1;
}

p.stars.selected a.active ~ a:before {
	content: "\53";
	color: #404040;
	opacity: .25;
}

p.stars.selected a:not(.active):before {
	content: "\53";
	color: royalblue;
	opacity: 1;
}

/**
 * Tabs
 */
.woocommerce-tabs ul.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.woocommerce-tabs ul.tabs li {
	display: block;
	margin: 0;
	position: relative;
}

.woocommerce-tabs ul.tabs li a {
	padding: 1em 0;
	display: block;
}

.woocommerce-tabs .panel h2:first-of-type {
	margin-bottom: 1em;
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
	text-align: right;
}

.woocommerce-password-strength.strong {
	color: #0f834d;
}

.woocommerce-password-strength.short {
	color: #e2401c;
}

.woocommerce-password-strength.bad {
	color: #e2401c;
}

.woocommerce-password-strength.good {
	color: #3D9CD2;
}

/**
 * Forms
 */
.form-row.woocommerce-validated input.input-text {
	box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
	box-shadow: inset 2px 0 0 #e2401c;
}

.required {
	color: red;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
	content: "";
	display: table;
	table-layout: fixed;
	background-color: #f7fbfe;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
  padding: 1em;
}

.woocommerce-message a.button{
  background: none !important;
  color: #42a7df !important;
  float: none !important

}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
  background-color: #f7fbfe;
  border-top: 3px solid #42a7df;
}

.woocommerce-error {
  background-color: #feefed;
  color: #fff;
  border-top: 3px solid #e2401c;
}

.demo_store {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 1em;
	background-color: #3D9CD2;
	z-index: 9999;
}

@media screen and (min-width: 48em) {
	/**
	 * Header cart
	 */
	.site-header-cart .widget_shopping_cart {
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 999999;
		left: -999em;
		display: block;
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	}
	.site-header-cart:hover .widget_shopping_cart, .site-header-cart.focus .widget_shopping_cart {
		left: 0;
		display: block;
	}
}

/**
 * WooCommerce widgets
 */
/**
 * WooCommerce Price Filter
 */
.widget_price_filter .price_slider {
	margin-bottom: 1.5em;
}

.widget_price_filter .price_slider_amount {
	text-align: right;
	line-height: 2.4em;
}

.widget_price_filter .price_slider_amount .button {
	float: left;
}

.widget_price_filter .ui-slider {
	position: relative;
	text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1em;
	height: 1em;
	cursor: ew-resize;
	outline: none;
	background: royalblue;
	box-sizing: border-box;
	margin-top: -.25em;
	opacity: 1;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
	margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-handle:hover, .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
	box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
	background: royalblue;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
	height: .5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
	height: 100%;
}


/* Github */
/* Woocommerce Styles */

/* .woocommerce-message { display: none;  } */
.woocommerce-cart.full-width-content .content,
.woocommerce-checkout.full-width-content .content { max-width: 100%; }

.woocommerce-cart .woocommerce table.shop_table td.actions {
  border-top: 1px solid #e6e6e6;
  background: #f7f7f7;
  border-bottom: 0px solid #e6e6e6;
}
.woocommerce-cart .entry-content form { width: 60%; float: left;  }
.woocommerce-cart .woocommerce .cart-collaterals {
    width: 33%;
  float: right;
}
.woocommerce-cart .woocommerce .cart-collaterals h2 { display: none;  }
.woocommerce-cart .woocommerce .cart-collaterals .cart_totals { width: 100%; }


#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr th, 
.woocommerce-checkout .cart-collaterals .cart_totals tr th,
#add_payment_method table.cart th, 
.woocommerce-cart table.cart th, 
.woocommerce-checkout table.cart th,
.woocommerce-checkout table.shop_table th { color: #42a7df; font-size: 14px; font-size: 1.4rem; }

#add_payment_method .cart-collaterals .cart_totals tr td, 
.woocommerce-cart .cart-collaterals .cart_totals tr td, 
.woocommerce-checkout .cart-collaterals .cart_totals tr td, 
#add_payment_method table.cart td,
.woocommerce-cart table.cart td,
.woocommerce-checkout table.cart td,
.woocommerce-checkout table.shop_table td { color: #555; font-size: 16px; font-size: 1.6rem; }

.woocommerce-cart .woocommerce table.shop_table th {   border-bottom: 2px solid #42a7df; }

.woocommerce-cart .woocommerce table.shop_table,
.woocommerce-checkout .woocommerce table.shop_table {
  border: 1px solid #e6e6e6;
  margin: 0;
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-radius: 0;
  border-bottom: none;
    border-right: none;
     margin-bottom: 35px;
      border-bottom: 1px solid #e6e6e6;
}

body #add_payment_method #payment ul.payment_methods li input, 
body.woocommerce-cart #payment ul.payment_methods li input, 
body.woocommerce-checkout #payment ul.payment_methods li input { width: auto;   margin: -2px .5em 0 0; }

body .woocommerce form .form-row .input-checkbox { width: auto;  margin: -2px 5px 0 0; }

#add_payment_method .cart-collaterals .cart_totals tr td, 
#add_payment_method .cart-collaterals .cart_totals tr th, 
body.woocommerce-cart .cart-collaterals .cart_totals tr td, 
body.woocommerce-cart .cart-collaterals .cart_totals tr th, 
body.woocommerce-checkout .cart-collaterals .cart_totals tr td, 
body.woocommerce-checkout .cart-collaterals .cart_totals tr th,
body .woocommerce table.shop_table th { 
	border-top: none; 
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	text-align: left;
	padding: 10px 20px;
}

body #add_payment_method table.cart td, 
body #add_payment_method table.cart th, 
body.woocommerce-cart table.cart td, 
body.woocommerce-cart table.cart th, 
body.woocommerce-checkout table.cart td, 
body.woocommerce-checkout table.cart th { border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; }

#add_payment_method .cart-collaterals .cart_totals tr th, 
body.woocommerce-cart .cart-collaterals .cart_totals tr th, 
body.woocommerce-checkout .cart-collaterals .cart_totals tr th { }

.woocommerce-cart .cart-collaterals .cart_totals table th { border-bottom: 1px solid #e6e6e6;  }

body .woocommerce #respond input#submit.alt, 
body .woocommerce a.button.alt, 
body .woocommerce button.button.alt, 
body .woocommerce input.button.alt {
	background: #42a7df !important; 
  font-weight: 500;
  border: 1px solid #42a7df;
}

body .woocommerce #respond input#submit.alt:hover, 
body .woocommerce a.button.alt:hover, 
body .woocommerce button.button.alt:hover, 
body .woocommerce input.button.alt:hover {
  background: #fff !important; 
  color: #42a7df
}

body .woocommerce .cart .button, 
body .woocommerce .cart input.button,
body .woocommerce #respond input#submit, 
body .woocommerce a.button, 
body .woocommerce button.button, 
body .woocommerce input.button { 
  background: #42a7df; 
  color: #fff; 
  font-weight: 500;   
  border-radius: 5.2px; 
  font-size: 14px;
  padding: .5em;
}

body .woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
  float: right;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25em;
  padding: 1em;
  border-radius: 5.2px;
  margin-top: .5em;
}

body .woocommerce form .form-row-first, 
body .woocommerce form .form-row-last, 
body .woocommerce-page form .form-row-first, 
body .woocommerce-page form .form-row-last { 
  /* width: 49%;  */
}

body .woocommerce #respond input#submit.disabled, 
body .woocommerce #respond input#submit:disabled, 
body .woocommerce #respond input#submit:disabled[disabled], 
body .woocommerce a.button.disabled, 
body .woocommerce a.button:disabled, 
body .woocommerce a.button:disabled[disabled], 
body .woocommerce button.button.disabled, 
body .woocommerce button.button:disabled, 
body .woocommerce button.button:disabled[disabled], 
body .woocommerce input.button.disabled, 
body .woocommerce input.button:disabled, 
body .woocommerce input.button:disabled[disabled] { background: #ccc; opacity: 0.5 }

body .woocommerce button.button.disabled:hover{
  background: #42a7df !important;
  color: #fff !important;
  border-color: currentColor !important
}

body .woocommerce a.checkout-button.button.alt { border-radius: 5.2px; }

body .woocommerce #content table.cart td.actions .coupon, 
body .woocommerce table.cart td.actions .coupon { width: 68%; float: left }
body .woocommerce table.cart td.actions .button { float: right }

body #add_payment_method table.cart td.actions .coupon .input-text, 
body.woocommerce-cart table.cart td.actions .coupon .input-text, 
body.woocommerce-checkout table.cart td.actions .coupon .input-text {
	padding: 8px 6px 7px;
 	width: 65%;
}

body .woocommerce table.shop_table td { padding: 15px; }

body .woocommerce-checkout table.shop_table td { text-align: left;
  border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;  border-top: 0; }

.woocommerce a.remove { margin: 0 auto;  }
.woocommerce-cart .woocommerce table.shop_table th.product-remove,
.woocommerce-cart .woocommerce table.shop_table th.product-name { text-align: center; }
.woocommerce-cart .woocommerce table.shop_table th.product-price,
.woocommerce-cart .woocommerce table.shop_table th.product-quantity,
.woocommerce-cart .woocommerce table.shop_table th.product-subtotal { text-align: right; }

.woocommerce-cart .woocommerce table.shop_table .cart_item td.product-price,
.woocommerce-cart .woocommerce table.shop_table .cart_item td.product-quantity,
.woocommerce-cart .woocommerce table.shop_table .cart_item td.product-subtotal { text-align: right; }

.woocommerce-checkout #add_payment_method #payment ul.payment_methods li, 
.woocommerce-checkout #payment ul.payment_methods li { list-style: none; }

.woocommerce-checkout .woocommerce .col2-set { width: 47.8260869565%; float: left; margin-right: 4.347826087%; }
.woocommerce-checkout .woocommerce .col2-set .col-1,
.woocommerce-checkout .woocommerce .col2-set .col-2 { margin-bottom: 2em; width: 100%; float: none; }
.woocommerce-checkout #order_review_heading,
.woocommerce-checkout #order_review { background: #fff; width: 47.8260869565%; float: right; margin-right: 0; }
.woocommerce-checkout #ship-to-different-address-checkbox { width: auto; float: right; margin-left: 15px; margin-top: 10px; opacity: 1; position: static; }
.woocommerce-checkout #ship-to-different-address label { font-size: 24px;   font-weight: 700; line-height: 1; margin: 0; margin-bottom: 1em; padding: 0; text-transform: uppercase; color: #000; }
.woocommerce-checkout .woocommerce form .form-row.create-account label { padding-top: 2px; font-weight: bold; }

.woocommerce-checkout .payment-fixed { position: fixed; z-index: 9; box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 2em; left: 52%; margin-left: 0; padding: 20px; top: 0; width: 45.5% !important; -webkit-transition: padding .1s ease-in; -moz-transition: padding .1s ease-in; -o-transition: padding .1s ease-in; -ms-transition: padding .1s ease-in; transition: padding .1s ease-in; }

.product-shipping-message { font-size: 16px; text-align: center; text-transform: uppercase; padding: 10px 0px; border-top: 1px solid #139248; border-bottom: 1px solid #139248; }

body .woocommerce table.shop_table tbody th, 
body .woocommerce table.shop_table tfoot td, 
body .woocommerce table.shop_table tfoot th { border-bottom: none; }

body .woocommerce form .form-row label{
  display: block
}

body .woocommerce form .form-row input.input-text, 
body .woocommerce form .form-row textarea { 
  max-width: 100%; 
  border: 1px solid #ddd;
  border-radius: 4px;
  /* margin-left: 10px; */
  padding-left: 10px;
  background: #f4f4f4;
  height: 38px;
}
body .woocommerce form .form-row textarea{
  width: 100%
}

body .woocommerce form .woocommerce-additional-fields{
  margin-top: 100px;
}

body .woocommerce .product-name a { color: #000; pointer-events: none; cursor: default; }

@media only screen and (max-width: 1139px) {
	.woocommerce-cart .entry-content form { width: 64%; }
}

@media only screen and (max-width: 980px) {

	.woocommerce-cart .entry-content form {
	  width: 80%;
	  float: none;
	  margin: 0 auto;
	}
	.woocommerce-cart .woocommerce .cart-collaterals {
	  width: 80%;
	  float: None;
	  margin: auto;
	}
	body .woocommerce #content table.cart td.actions .coupon, body .woocommerce table.cart td.actions .coupon { width: 100%; }
	body #add_payment_method table.cart td.actions .coupon .input-text, body.woocommerce-cart table.cart td.actions .coupon .input-text, body.woocommerce-checkout table.cart td.actions .coupon .input-text { width: 48%; }
}

@media only screen and (max-width: 650px) {
  
  .woocommerce-cart .entry-content form {
	  width: 100%;

	}
	.woocommerce-cart .woocommerce .cart-collaterals {
	  width: 100%;

	}

	.woocommerce-checkout .woocommerce .col2-set { width: 100%; float: none; margin-right: 0; }
	.woocommerce-checkout #order_review_heading, 
  .woocommerce-checkout #order_review { width: 100%; float: none; }
	
}


/*  */
/* WooCommerce Sidebar */
.listingwoo_widget{
  display: block !important;
  border: 1px solid #e9e7e7;
  border-radius: 5.1px;
  margin-bottom: 30px !important;
  padding: 25px 25px;
}

.listingwoo_widget .wc-bookings-booking-form{
  padding: 0;
  border: 0
}

.listingwoo_widget .ui-widget{
  float: none
}

.listingwoo_widget .widget-title{
  margin-top: 0
}

.listingwoo_widget .price, .listingwoo_widget .price .amount, .listingwoo_widget .price .woocommerce-Price-currencySymbol{
  color: #ff5a5f;
  font-size: 16px;
  padding: 0px 0 10px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif
}


.listingwoo_widget .wc-bookings-booking-form p.form-field{
  display: inline-block;
  /* width: 49%; */
  vertical-align: top
}

.listingwoo_redux_menu .dashicons-before:before{
  font-family: WooCommerce !important;
  content: '\e03d';
}

.single_add_to_cart_button{
  padding: 10px !important;
  width: 100%;
  font-size: 1.8rem !important;
  font-weight: bold;
  
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.single_add_to_cart_button:hover{
  background-color: #fff;
  color: #42a7df;
}
.listingwoo_widget .wc-bookings-date-picker .ui-datepicker{
  margin-top: 15px;
}
.listingwoo_widget .wc-bookings-date-picker .ui-datepicker td .ui-state-default{
  background: #ddd;
  border-radius: 0
}
.listingwoo_widget .wc-bookings-date-picker .ui-datepicker td.bookable a{
  background: #fff !important;
  color: #333 !important
}
/* .listingwoo_widget .wc-bookings-date-picker .ui-datepicker td.bookable.ui-datepicker-today a.ui-state-active */
.listingwoo_widget .wc-bookings-date-picker .ui-datepicker td.bookable a.ui-state-active{
  background: #42a7df !important;
  color: #fff !important
}

.listingwoo_widget .wc-bookings-booking-form .wc-bookings-booking-cost{
  margin: 0;
}

.listingwoo_widget .ui-datepicker .ui-datepicker-header{
  background-image: none;
  background: #f7fbfe !important;
  border: 0
}
.listingwoo_widget .ui-datepicker-prev span, .listingwoo_widget .ui-datepicker-next span{
  background: none !important;
  position: relative;
  height: 100%;
}
.listingwoo_widget .ui-datepicker-prev span:before, .listingwoo_widget .ui-datepicker-next span:before{
  font: normal normal normal 18px/1 FontAwesome;
  text-decoration: inherit;
  color: #42a7df;
  font-size: 18px;
  padding-top: 5px;
  position: absolute;
  left: 0;
  text-indent: 0;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.listingwoo_widget .ui-datepicker-prev span:before{
  content: "\f104";
}
.listingwoo_widget .ui-datepicker-next span:before{
  content: "\f105";
}
.listingwoo_widget .ui-datepicker-prev-hover, .listingwoo_widget .ui-datepicker-next-hover{
  background: none !important;
}
.wc-bookings-date-picker .ui-datepicker .ui-datepicker-next, .wc-bookings-date-picker .ui-datepicker .ui-datepicker-prev{
  background: none;
}
.listingwoo_widget .ui-datepicker-title{
  letter-spacing: 1px
}
.listingwoo_widget .wc-bookings-date-picker legend{
  display: none;
}
.listingwoo_widget .ui-datepicker-calendar thead span{
  /* color: #42a7df; */
}
.listingwoo_widget .wc-bookings-booking-form p.form-field.wc_bookings_field_persons{
  width: 35%;
}
#wc_bookings_field_persons, #wc_bookings_field_duration{
  width: 80%;
  float: left;
}
.listingwoo_widget .wc-bookings-booking-form p.form-field.wc_bookings_field_resource{
  width: 63%;
}
.wc-bookings-booking-form .form-field {
  position: relative;
}

.wc-bookings-booking-form .form-field input, .wc-bookings-booking-form .form-field select, .listingwoo_widget select, .listingwoo_widget input{
  border-radius: 5.2px;
  height: 35px;
  padding: 0;
  font-size: 14px;
  border: 1px solid #eee;
}
.listingwoo_widget .wc-bookings-booking-form .form-field select, .listingwoo_widget select{
  padding-left: 10px;
  padding-right: 2em;
  /* reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;  
}
.listingwoo_widget .wc-bookings-booking-form .form-field input[type=number], 
.listingwoo_widget .quantity input{
  padding-left: 10px;
}

.listingwoo_widget .wc-bookings-booking-form .form-field input[type=number]::-webkit-inner-spin-button,
.listingwoo_widget .wc-bookings-booking-form .form-field input[type=number]::-webkit-outer-spin-button,
.listingwoo_widget .quantity input::-webkit-outer-spin-button,
.listingwoo_widget .quantity input::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.listingwoo_widget .quantity{
  position: relative;
  overflow: hidden;
  margin-bottom: 10px
}
.listingwoo_widget .quantity label{
  float: left;
  margin-right: 15px;
  line-height: 35px;
}
.listingwoo_widget .variations .label{
  font-size: 14px;
  text-transform: capitalize;
  padding-left: 0 !important;
  line-height: 35px;
  width: 30%;
  display: table-cell;
  text-align: left;

}
.listingwoo_widget .price del{
  opacity: 0.7;
}
.woocommerce-variation.single_variation{
  padding: 13px 0;
}
.listingwoo_widget .quantity input {
  /* width: 45%; */
  float: left;
  /* height: 38px; */
  /* line-height: 1.65; */
  /* float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee; */
}

.listingwoo_widget .wc-bookings-booking-form .form-field input[type=number],
.listingwoo_widget .quantity input{
  -moz-appearance: textfield;
}

.listingwoo_widget .quantity input:focus, 
.listingwoo_widget .wc-bookings-booking-form .form-field input[type=number]:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 35px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 23px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: normal;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, #ccc 50%),
    linear-gradient(135deg, #ccc 50%, transparent 50%),
    linear-gradient(to right, #eee, #eee);
  background-position:
    calc(100% - 12px) calc(1em + 2px),
    calc(100% - 7px) calc(1em + 2px),
    calc(100% - 1.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, blue 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.wc-bookings-date-picker .ui-datepicker td.bookable-range .ui-state-default{
  background: #42a7df !important
}

@media only screen and (min-width: 768px) {

  .woocommerce .columns-3 ul.products li.product, 
  .woocommerce-page .columns-3 ul.products li.product{
    width: 30.8% !important;
  }

}
.woocommerce-pagination{
  margin-bottom: 30px
}

.listingwoo_widget div.summary{
  float: none !important;
  width: 100% !important;
}